In [1]:
import pandas as pd
import numpy as np

#Read Ubuntu output file
df_u = pd.read_csv("Ubuntu_export.csv")
print("Ubuntu output shape: ",df_u.shape)

#Read legacy output file
df_l = pd.read_csv("Legacy_full_export.csv")
print("Legacy output shape: ", df_l.shape)

# Temperory: get top records of Ubuntu as legacy file is not completed
df_u = df_u.head(df_l.shape[0])
print("Ubuntu output shape: ",df_u.shape)

# Join based on time
df = df_u.merge(df_l, on='time')
print('Merged shape:',df.shape)
#df.to_csv("merged.csv")
print(df.info())

Ubuntu output shape:  (473328, 6)
Legacy output shape:  (71736, 6)
Ubuntu output shape:  (71736, 6)
Merged shape: (71736, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 71736 entries, 0 to 71735
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               71736 non-null  float64
 1   WS_outflow@F(1)_x  71736 non-null  float64
 2   WS_outflow@F(2)_x  71736 non-null  float64
 3   WS_outflow@F(3)_x  71736 non-null  float64
 4   WS_outflow@F(4)_x  71736 non-null  float64
 5   WS_outflow@F(5)_x  71736 non-null  float64
 6   WS_outflow@F(1)_y  71736 non-null  float64
 7   WS_outflow@F(2)_y  71736 non-null  float64
 8   WS_outflow@F(3)_y  71736 non-null  float64
 9   WS_outflow@F(4)_y  71736 non-null  float64
 10  WS_outflow@F(5)_y  71736 non-null  float64
dtypes: float64(11)
memory usage: 6.6 MB
None

In [2]:
# Find rows where sign of the numbers are different
print('Count of rows with different signs for WS_outflow@F(1): ',df[(df['WS_outflow@F(1)_x'] > 0) & (df['WS_outflow@F(1)_y'] < 0)].count()[0])

print('Count of rows with different signs for WS_outflow@F(2): ',df[(df['WS_outflow@F(2)_x'] > 0) & (df['WS_outflow@F(2)_y'] < 0)].count()[0])

print('Count of rows with different signs for WS_outflow@F(3): ',df[(df['WS_outflow@F(3)_x'] > 0) & (df['WS_outflow@F(3)_y'] < 0)].count()[0])

print('Count of rows with different signs for WS_outflow@F(4): ',df[(df['WS_outflow@F(4)_x'] > 0) & (df['WS_outflow@F(4)_y'] < 0)].count()[0])

print('Count of rows with different signs for WS_outflow@F(5): ',df[(df['WS_outflow@F(5)_x'] > 0) & (df['WS_outflow@F(5)_y'] < 0)].count()[0])

Count of rows with different signs for WS_outflow@F(1):  58
Count of rows with different signs for WS_outflow@F(2):  25
Count of rows with different signs for WS_outflow@F(3):  0
Count of rows with different signs for WS_outflow@F(4):  0
Count of rows with different signs for WS_outflow@F(5):  0

In [3]:
# Calculate difference of absolute values
df['diff_1'] = (df['WS_outflow@F(1)_x'].abs() - df['WS_outflow@F(1)_y'].abs()).abs()
df['diff_2'] = (df['WS_outflow@F(2)_x'].abs() - df['WS_outflow@F(2)_y'].abs()).abs()
df['diff_3'] = (df['WS_outflow@F(3)_x'].abs() - df['WS_outflow@F(3)_y'].abs()).abs()
df['diff_4'] = (df['WS_outflow@F(4)_x'].abs() - df['WS_outflow@F(4)_y'].abs()).abs()
df['diff_5'] = (df['WS_outflow@F(5)_x'].abs() - df['WS_outflow@F(5)_y'].abs()).abs()

In [4]:

print('Out of',df.count()[0], 'rows',(df[df['diff_3'] == 0].count()[0]), 'are exactly the same.')

Out of 71736 rows 2451 are exactly the same.

In [5]:
columns = ['diff_1','diff_2','diff_3','diff_4','diff_5']
intervals = [0,1,10,100,500,1000,5000,10000,25000,50000,100000,1000000,10000000]
for c in columns:
    print('-----------',c,'--------------')
    print(df[df[c] == 0].count()[0], 'rows are 0')
    for i in range(len(intervals)-1):
        print((df[(df[c] <= intervals[i+1]) & (df[c] > intervals[i]) ].count()[0]),
        'rows are greater than', intervals[i], 'and less than', intervals[i+1])

----------- diff_1 --------------
2127 rows are 0
3974 rows are greater than 0 and less than 1
8389 rows are greater than 1 and less than 10
9890 rows are greater than 10 and less than 100
16366 rows are greater than 100 and less than 500
9099 rows are greater than 500 and less than 1000
15497 rows are greater than 1000 and less than 5000
3135 rows are greater than 5000 and less than 10000
2207 rows are greater than 10000 and less than 25000
719 rows are greater than 25000 and less than 50000
176 rows are greater than 50000 and less than 100000
157 rows are greater than 100000 and less than 1000000
0 rows are greater than 1000000 and less than 10000000
----------- diff_2 --------------
41 rows are 0
41613 rows are greater than 0 and less than 1
5949 rows are greater than 1 and less than 10
6548 rows are greater than 10 and less than 100
6382 rows are greater than 100 and less than 500
4148 rows are greater than 500 and less than 1000
5886 rows are greater than 1000 and less than 5000
677 rows are greater than 5000 and less than 10000
255 rows are greater than 10000 and less than 25000
167 rows are greater than 25000 and less than 50000
70 rows are greater than 50000 and less than 100000
0 rows are greater than 100000 and less than 1000000
0 rows are greater than 1000000 and less than 10000000
----------- diff_3 --------------
2451 rows are 0
3068 rows are greater than 0 and less than 1
6995 rows are greater than 1 and less than 10
10122 rows are greater than 10 and less than 100
15801 rows are greater than 100 and less than 500
8763 rows are greater than 500 and less than 1000
16269 rows are greater than 1000 and less than 5000
3777 rows are greater than 5000 and less than 10000
3055 rows are greater than 10000 and less than 25000
968 rows are greater than 25000 and less than 50000
227 rows are greater than 50000 and less than 100000
240 rows are greater than 100000 and less than 1000000
0 rows are greater than 1000000 and less than 10000000
----------- diff_4 --------------
34867 rows are 0
12635 rows are greater than 0 and less than 1
5873 rows are greater than 1 and less than 10
8178 rows are greater than 10 and less than 100
5030 rows are greater than 100 and less than 500
1792 rows are greater than 500 and less than 1000
2720 rows are greater than 1000 and less than 5000
362 rows are greater than 5000 and less than 10000
195 rows are greater than 10000 and less than 25000
84 rows are greater than 25000 and less than 50000
0 rows are greater than 50000 and less than 100000
0 rows are greater than 100000 and less than 1000000
0 rows are greater than 1000000 and less than 10000000
----------- diff_5 --------------
52 rows are 0
5443 rows are greater than 0 and less than 1
6869 rows are greater than 1 and less than 10
10062 rows are greater than 10 and less than 100
15719 rows are greater than 100 and less than 500
8746 rows are greater than 500 and less than 1000
16027 rows are greater than 1000 and less than 5000
3884 rows are greater than 5000 and less than 10000
3187 rows are greater than 10000 and less than 25000
1156 rows are greater than 25000 and less than 50000
334 rows are greater than 50000 and less than 100000
257 rows are greater than 100000 and less than 1000000
0 rows are greater than 1000000 and less than 10000000

In [6]:
df[ df['diff_3'] == df['diff_3'].max()]

,time,WS_outflow@F(1)_x,WS_outflow@F(2)_x,WS_outflow@F(3)_x,WS_outflow@F(4)_x,WS_outflow@F(5)_x,WS_outflow@F(1)_y,WS_outflow@F(2)_y,WS_outflow@F(3)_y,WS_outflow@F(4)_y,WS_outflow@F(5)_y,diff_1,diff_2,diff_3,diff_4,diff_5
40968,21370.04167,208664.5,63452.31,278441.0,27104.52,315304.3,0.000054,0.000334,0.001399,0.000429,0.002083,208664.499946,63452.309666,278440.9986,27104.519571,315304.297917